@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
    margin: 0px;
}

#menu {
    list-style-type: none;
    background-color: #1d428a;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-item {
    float: left;
    padding: 1.5%;
    padding-top: 2.5%;
}

.menu-item a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10%;
    font-size: larger;
    color: white;
    border-bottom: solid #1d428a;
    transition: 0.4s;
}

.menu-item a:hover {
    border-bottom: solid #FFC600;
}